@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Source+Sans+Pro:wght@900&display=swap");

* {
  margin: 0;
  text-decoration: none;
}

body {
	background-image: url(../bg.gif);
	background-repeat: no-repeat;
	background-size: cover;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 50px;
  overflow: none;
}

h1{
	font-size: 1.5em;
	margin-top: 20vh;
	margin-left: 5vw;
	align-items: center;
	justify-content: center;
	color: orange;
	float: left;
}
h2{
	font-size: 1em;
	align-items: center;
	justify-content: center;
	text-align: center;
	float: left;
}
img {
  height: 400px;
  width: 400px;
  float: right;
  margin-right: 4vw;
  margin-top: 20vh;
}

#container {
	margin-top: 40vh;
	margin-left: 5vw;
	color: white;
}

#text {
	display: inline-block;
  color: white;
	border-right: 3px solid white;
}

.page-wrapper {
	margin-top: 2vh;
	margin-right: 65vw;
  place-items: center;
  text-align: center;

}

.links {
  font-family: "Comfortaa", cursive;
  font-size: .5em;
  margin: 4vh;
}

a{
	color: lightgreen;
}

.divider {
  color: white;
}

.icon {
	margin-top: 2vh;
  color: white;
  padding: 10px;
  border-radius: 40%;
}

.icon:hover {
  color: black;
  cursor: pointer;
  background: white;
}